.vs filter=lfs diff=lfs merge=lfs -text
.vs/DOS filter=lfs diff=lfs merge=lfs -text
.vs/DOS/v17 filter=lfs diff=lfs merge=lfs -text
.vs/DOS/v17/.suo filter=lfs diff=lfs merge=lfs -text
.vs/DOS/v17/Browse.VC.db filter=lfs diff=lfs merge=lfs -text
.vs/DOS/v17/Browse.VC.db-shm filter=lfs diff=lfs merge=lfs -text
.vs/DOS/v17/Browse.VC.db-wal filter=lfs diff=lfs merge=lfs -text
.vs/DOS/v17/Browse.VC.opendb filter=lfs diff=lfs merge=lfs -text
.vs/DOS/v17/ipch/AutoPCH/125a90dea4c1533a/LOOP.ipch filter=lfs diff=lfs merge=lfs -text
.vs/DOS/v17/ipch/AutoPCH/3038a58be4e01890/MAIN.ipch filter=lfs diff=lfs merge=lfs -text
.vs/DOS/v17/ipch/AutoPCH/4ed6c51c4b8b8160/CONSOLE.ipch filter=lfs diff=lfs merge=lfs -text
.vs/DOS/v17/ipch/AutoPCH/71135bd05eba9bc1/MAIN.ipch filter=lfs diff=lfs merge=lfs -text
.vs/DOS/v17/ipch/AutoPCH/71648d212825037c/KEYBOARD.ipch filter=lfs diff=lfs merge=lfs -text
.vs/DOS/v17/ipch/AutoPCH/7db84d28bb706ad4/FILEACTIONS.ipch filter=lfs diff=lfs merge=lfs -text
.vs/DOS/v17/ipch/AutoPCH/ac57f38d6f56cf59/CMD.ipch filter=lfs diff=lfs merge=lfs -text
.vs/DOS/v17/ipch/AutoPCH/adcf232f22985c2e/MOUSE.ipch filter=lfs diff=lfs merge=lfs -text
.vs/DOS/v17/ipch/AutoPCH/d0d4baa641f0d167/LOOP.ipch filter=lfs diff=lfs merge=lfs -text
